.column {
    margin: auto;
    height: 30%;
    width: 90%;
    max-width: 960px;
    text-align: justify;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

.column-box {
    position: relative;
    color: var(--champagne-pink);
    font-family: 'Open Sans', sans-serif;
}

.project-list-item {
    background-color: rgba(15,15,15,0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    //border-bottom: 3px rgba(255, 255, 255, 0.05) solid;
}

.project-list-item-h3 {
    letter-spacing: 2px;
    margin: 0;
}

.project-list-item-p {
    padding: 0;
    margin-top: 5px;
}