body {
    background-color: var(--night);
}

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text-box-container {
    margin: auto;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .text-box-container {
    margin: auto;
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .text-box-container {
    margin: auto;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text-box-container {
    margin: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.text-box-container {
    margin: auto;
    width: 40%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.text-box-container {
  text-align: justify;
}

.text-box {
    padding: 10px;  
    position: relative;
    color: #cacaca;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin-bottom: 1em;
}

.text-box-non-animated {
  padding: 10px;  
  position: relative;
  color: #cacaca;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-top: 0.5em;

}

.text-box:hover, .text-box-inner:hover {
    transform: scale(0.99);
    transition: transform 300ms ease-in-out;
}

.text-box:not(:hover), .text-box-inner:not(:hover) {
  transition: transform 300ms ease-in-out;
} 

h6 {
    font-size: 1.25em;
    color: var(--platinum);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding-bottom: 0.25em;
    font-weight: bold;
    text-align: none;
}

.h6-left {
  text-align: left;
}

.h6-right {
  text-align: right;
}

p {
    margin: 0;
    padding-bottom: 0.5em;  
}

a {
    color:var(--platinum);
    text-decoration: none;
}

.project-link {
    color:var(--platinum);
    font-weight: normal;
    font-family: 'MD Sans', sans-serif;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.project-link:hover {
    text-decoration: underline;
}

.contact-link {
    color: var(--platinum);
    font-weight: normal;
    font-family: 'MD Sans', sans-serif;
    text-decoration: none;
}

.Social-media{
  display: flex;
  justify-content: center;
}
a.contact-link{
  display: flex;
  height: 30px;
  width: 30px;
  margin: 0 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.5s
}
a.contact-link i{
  font-size: 25px;
  color: var(--platinum);
  transition: transform 0.5s;
}
a.contact-link:hover .fa-linkedin{
  color: #0e76a8;
  transition: color 300ms ease-in;
}
a.contact-link:hover .fa-github{
  color: #6e5494;
  transition: color 300ms ease-in;
}
a.contact-link:not(:hover) .fa-linkedin{
  color: #cacaca;
  transition: color 500ms ease-in-out;
}
a.contact-link:not(:hover) .fa-github{
  color: #cacaca;
  transition: color 500ms ease-in-out;
}

.project-card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.project-card:first-of-type {
  margin-top: 0;
}

.project-card:last-of-type {
  margin-bottom: 0;
}

.project-card:hover {
  transform: translateX(10px);
  transition: transform 300ms ease-in-out;
}

.project-card:not(:hover) {
  transition: transform 300ms ease-in-out;
}

.special-text {
  background: linear-gradient(
    to right,
    #6eabb4 20%,
    #84c8c0 30%,
    #0190cd 70%,
    #8ba8bf 80%
  );
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 10s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/* CSS HEX */
:root {
  --night: #0a0a0aff;
  --lighter-night: rgb(15, 14, 14);
  --rose-red: #bb2649ff;
  --champagne-pink: #e5d4ceff;
  --tiffany-blue: #7fd1b9ff;
  --platinum: #E2E2E2;
  --space-cadet: #1B1F3B;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lighter-night);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lighter-night);
  background-image: linear-gradient(to bottom, #6eabb4, #bedcd9);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lighter-night);
  background-image: linear-gradient(to bottom, #9acfd7, #ddefed);
}
