.responsive-three-column-grid {
    display:block;
}

/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:800px) {
    .responsive-three-column-grid {
        display: grid;
        grid-template-rows: 100vh;
        grid-template-columns: 5% 33% minmax(200px, 1fr) 5%;
    }
}

body {
    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:100%;
 
    /* fallback height */
    min-height:100vh;
 
    /* new small viewport height for modern browsers */
    min-height:100svh;
 }

#page-container {
    position: relative;
    min-height: 100vh;
}
  
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#about-me, #hello, #projects {
    text-align: justify;
    align-self: center;
    justify-self: center;
}